@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant child (&>*);
@custom-variant child-hover (& > *:hover);
@custom-variant parent (&);

@theme {
  --font-montserrat-thin: "Montserrat Thin";
  --font-montserrat-bold: "Montserrat Bold";
  --font-montserrat-black: "Montserrat Black";
  --font-onest-regular: "Onest Regular";
  --font-onest-medium: "Onest Medium";
  --font-onest-semibold: "Onest SemiBold";
  --color-primarycolor: oklch(0.525 0.223 3.958);
}

@layer base {
  body {
    @apply bg-black;
  }
  @font-face {
    font-family: "Montserrat Thin";
    font-display: swap;
    font-weight: 100;
    src: local("Montserrat Thin"),
      url("/fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
  }

  @font-face {
    font-family: "Montserrat Bold";
    font-display: swap;
    font-weight: 700;
    src: local("Montserrat Bold"),
      url("/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Montserrat Black";
    font-weight: 900;
    font-display: swap;
    src: local("Montserrat Black"),
      url("/fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
  }
  @font-face {
    font-family: "Onest Regular";
    font-weight: 400;
    font-display: swap;
    src: local("Onest Regular"),
      url("/fonts/Onest/Onest-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Onest Medium";
    font-weight: 500;
    font-display: swap;
    src: local("Onest Medium"),
      url("/fonts/Onest/Onest-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "Onest SemiBold";
    font-weight: 600;
    font-display: swap;
    src: local("Onest SemiBold"),
      url("/fonts/Onest/Onest-SemiBold.ttf") format("truetype");
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer components {
  @variant sm {
    .nav-hover-effect::before {
      content: "";
      width: 100%;
      height: 2px;
      position: absolute;
      left: 0;
      bottom: -6px;
      @apply bg-primarycolor;
      transition: 0.4s transform ease;
      transform: scale3d(0, 1, 1);
      transform-origin: 50% 50%;
    }
    .nav-hover-effect:hover::before {
      transform: scale3d(1, 1, 1);
    }
  }
  .navToggleBtn {
    @apply flex flex-col justify-center gap-y-1.5 w-max h-10;
  }
  .navToggleBtn input {
    appearance: none;
    pointer-events: none;
    @apply translate-x-1;
  }
  .navToggleBtn::before,
  .navToggleBtn::after,
  .navToggleBtn input {
    content: "";
    @apply block w-8 h-1 rounded-2xl bg-primarycolor transition-all duration-500 origin-left;
  }
  .navToggleBtn input:checked {
    @apply opacity-0 w-0 origin-right;
  }
  .navToggleBtn:has(input:checked)::before {
    rotate: 45deg;
    width: calc(24px * 1.4142);
    @apply -translate-y-0.5;
  }
  .navToggleBtn:has(input:checked)::after {
    rotate: -45deg;
    width: calc(24px * 1.4142);
    @apply translate-y-0.5;
  }
}

@utility container {
  @apply mx-auto px-5 xl:px-27;
}
@utility flex-center {
  @apply flex justify-center items-center;
}
