@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant child (&>*);
@custom-variant child-hover (& > *:hover);

@theme {
  --font-montserrat-thin: "Montserrat Thin";
  --font-montserrat-bold: "Montserrat Bold";
  --font-montserrat-black: "Montserrat Black";
  --font-onest-regular: "Onest Regular";
  --font-onest-medium: "Onest Medium";
  --font-onest-semibold: "Onest SemiBold";
}

@layer base {
  body {
    @apply bg-black;
  }
  @font-face {
    font-family: "Montserrat Thin";
    font-display: swap;
    font-weight: 100;
    src: local("Montserrat Thin"),
      url("/fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
  }

  @font-face {
    font-family: "Montserrat Bold";
    font-display: swap;
    font-weight: 700;
    src: local("Montserrat Bold"),
      url("/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  }

  @font-face {
    font-family: "Montserrat Black";
    font-weight: 900;
    font-display: swap;
    src: local("Montserrat Black"),
      url("/fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
  }
  @font-face {
    font-family: "Onest Regular";
    font-weight: 400;
    font-display: swap;
    src: local("Onest Regular"),
      url("/fonts/Onest/Onest-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Onest Medium";
    font-weight: 500;
    font-display: swap;
    src: local("Onest Medium"),
      url("/fonts/Onest/Onest-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "Onest SemiBold";
    font-weight: 600;
    font-display: swap;
    src: local("Onest SemiBold"),
      url("/fonts/Onest/Onest-SemiBold.ttf") format("truetype");
  }
}
